body {
  margin-bottom: 60px;
  background-color: #222;
  border-color: #e6e6e6;
  color: #e6e6e6;
}
.jumbotron {
  background-color: #222;
  border-color: #e6e6e6;
  color: #e6e6e6;
}
.h1, h1 {
 color: #FFD700;
}